examples/example-1.json
[
    {
        "id": "e84e7c3aca9b3739",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4f60436e8f9eb3f7",
        "type": "debug",
        "z": "e84e7c3aca9b3739",
        "name": "API request return",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 300,
        "wires": []
    },
    {
        "id": "d2642b5febc6cfc3",
        "type": "inject",
        "z": "e84e7c3aca9b3739",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 560,
        "y": 300,
        "wires": [
            [
                "27854cac25ad7835"
            ]
        ]
    },
    {
        "id": "70357471bccc49b1",
        "type": "inject",
        "z": "e84e7c3aca9b3739",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 560,
        "y": 460,
        "wires": [
            [
                "d410b529a644b481"
            ]
        ]
    },
    {
        "id": "076f6cfca253be33",
        "type": "debug",
        "z": "e84e7c3aca9b3739",
        "name": "Full server stauts JSON reponse",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 420,
        "wires": []
    },
    {
        "id": "f12defd689350d14",
        "type": "debug",
        "z": "e84e7c3aca9b3739",
        "name": "Engine Status Running TRUE/FALSE",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 480,
        "wires": []
    },
    {
        "id": "942fa5ed408a6d6d",
        "type": "debug",
        "z": "e84e7c3aca9b3739",
        "name": "Media Manager Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 540,
        "wires": []
    },
    {
        "id": "27854cac25ad7835",
        "type": "GH-API",
        "z": "e84e7c3aca9b3739",
        "name": "",
        "ipAddress": "192.168.0.22",
        "port": 40512,
        "apiPath": "/info",
        "x": 820,
        "y": 300,
        "wires": [
            [
                "4f60436e8f9eb3f7"
            ]
        ]
    },
    {
        "id": "d410b529a644b481",
        "type": "GH-Info",
        "z": "e84e7c3aca9b3739",
        "name": "",
        "ipAddress": "192.168.0.22",
        "port": 40512,
        "x": 820,
        "y": 460,
        "wires": [
            [
                "076f6cfca253be33"
            ],
            [
                "f12defd689350d14"
            ],
            [
                "942fa5ed408a6d6d"
            ]
        ]
    }
]